body {
    position: relative;
    min-height: 100vh;

    //Image background
    background: url("../../images/code-background.jpg");
    background-attachment: fixed;
    background-position: top;
    background-size: cover;

    //Typo
    color: $font-color;
    font-size: 16px;
    font-family: $font-roboto-regular;

    //Overlay
    &:before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba($black,.5);
        z-index: -1;
        backdrop-filter: blur(8px);
        transition: $bezier-transition;
    }

    //Shapes
    .body-shape{
        position: fixed;
        bottom: -25%;
        height: 150%;
        width: 150px;
        transform: rotate(15deg);
        z-index: -1;
        transition: $bezier-transition;

        &.body-shape-1{
            left: 85vw;
            width: 26vw;
            //filter: brightness(1.2);
            background-color: $secondary-color;
            box-shadow: $subtle-box-shadow;
        }
        &.body-shape-2{
            left: -15vw;
            width: 26vw;
            filter: brightness(0.8);
            background-color: $tertiary-color;
            box-shadow: $subtle-box-shadow;
        }
        /*&.body-shape-3{
            display: none;
            background-color: $primary-color;
            width: 200px;
            box-shadow: $subtle-box-shadow;
        }*/
        &.body-shape-4{
            left: 18vw;
            width: 1px;
            background-color: $pop-color;
            box-shadow: 0 0 6px 2px $pop-color;
            @include glowing-effect($pop-color, 3s)
        }

    }

    //Open state
    &.open{
        &:before{
            backdrop-filter: blur(4px);
        }
        .body-shape{
            &.body-shape-1{
                left: 100vw;
            }
            &.body-shape-2{
                left: -25vw;
            }
            &.body-shape-4{
                left: -10vw;
            }
        }

    }

    @include media-breakpoint-down(md){
        .body-shape{
            &.body-shape-1{
                left: 100vw;
            }
            &.body-shape-2{
                left: -25vw;
            }
            &.body-shape-4{
                display: none;
                left: 10vw;
            }
        }
        &.open{
            .body-shape{
                &.body-shape-1{
                    left: 140vw;
                }
                &.body-shape-2{
                    left: -60vw;
                }
                &.body-shape-4{
                    left: -35vw;
                }
            }
        }
    }
}

