.btn{
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    padding: 12px 24px;
    border-radius: 0;
    color: $dark;
    font-size: 16px;
    font-family: $font-raleway-bold;

    background: $font-color;
    background: linear-gradient(to left, $font-color 50%, $pop-color 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    //float:right;
    transition: $transition-base;

    svg{
        padding-right: 5px;
    }

    &:hover {
        color: $font-color;
        background-position:left bottom;
        @include glowing-effect($pop-color)
    }
}

