.feature-section{
    overflow: hidden;
    margin-bottom: 0;
    .home-project-list{
        list-style-type: none;
        padding: 0;
        margin: 50px 0 55px 0;

        .slick-dots{
            bottom: -50px;
            li{
                button{
                    &:before{
                        color: $white;
                    }
                }
            }
        }

        .slick-arrow{
            &.slick-next{
                right: 25px;
            }
            &.slick-prev{
                left: 25px;
                z-index: 5;
            }
            &:before{
                font-size: 30px;
            }
        }

        .slick-list{
            overflow: visible !important;
            .slick-track{
                .slick-slide{
                    &.slick-current{
                        .home-project{
                            position: relative;
                            z-index: 5;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        .home-project{
            box-shadow: $default-box-shadow;
            transition: $bezier-transition;

            img{
                height: 50vh;
                width: 100%;
                object-fit: cover;
                transition: $default-transition;

                @include media-breakpoint-down(lg){
                    height: 40vh;
                }
                @include media-breakpoint-down(md){
                    height: 35vh;
                }
            }

            .home-project-overlay-content{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: fit-content;
                width: 100%;
                padding: 10px 5px;
                //background-color: $secondary-color;
                background: $default-gradient;
                text-align: center;

                h3{
                    font-size: 24px;
                    font-family: $font-raleway-regular;
                }

                @include media-breakpoint-down(lg){
                    h3{
                        font-size: 20px;
                    }
                    p{
                        font-size: 14px;
                    }
                }

                @include media-breakpoint-down(md){
                    h3{
                        font-size: 16px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}