$header-width: 80px;

header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $header-width;
    background-color: $primary-color;
    z-index: 10;


    nav{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            width: 100%;
            list-style-type: none;

            li{
                width: 100%;

                svg{
                    height: 25px;
                    width: 25px;
                    //transition: $default-transition;
                }
                a{
                    position: relative;
                    display: block;
                    padding: 20px 0;
                    text-align: center;
                    text-decoration: none;
                    color: $white;
                    font-family: $font-raleway-bold;
                    transition: $default-transition;

                    &:before{
                        content: '';
                        height: 0;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background-color: $pop-color;
                        transition: $default-transition;
                    }

                    &:hover{
                        color: $pop-color;
                        &:before{
                            height: 3px;
                            @include glowing-effect($pop-color,3px,1s)
                        }
                    }
                    &.current-menu-item{
                        color: $pop-color;
                        &:before{
                            height: 3px;
                            @include static-glowing-effect($pop-color)
                        }
                    }
                }

                &.current-menu-item{
                    a{
                        color: $pop-color;
                        &:before{
                            height: 3px;
                            @include static-glowing-effect($pop-color)
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md){
        position: sticky;
        right: 0;
        height: fit-content;
        width: 100%;
        bottom: unset;
        nav{
            ul{
                flex-direction: row;
            }
        }
    }
}